{% import 'base_helper.tmpl' as base with context %}

{{ base.html_headstart() }}
{% block extra_head %}
{% endblock %}
{{ extra_head_data }}


<body>

	<!-- Page Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">


		<!-- Header
================================================== -->
		{% block headbar %} {% endblock %}

		{% include 'header.tmpl' %}


		<!-- Titlebar
================================================== -->
		{% block titlebar %} {% endblock %}

	</div>
	<div class="clearfix"></div>


	<!-- Content
================================================== -->
	{% block content %} {% endblock %}
	<div class="clearfix"></div>


	<!-- Footer
================================================== -->
	<div class="margin-top-60"></div>

	<div id="footer">
		<!-- Main -->
		<div class="box">
			<div class="row">
				<!-- Copyright -->
				<div class="col-md-8 col-sm-6">
					<p>&copy; chrisbarra.xyz 2014. All Rights Reserved.</p>
				</div>

				<div class="col-md-4  col-sm-12">
					<div class="text-widget">
						E-Mail:<span> me@chrisbarra.xyz </span><br>
					</div>

					<!-- Social Icons / Start -->
					<ul class="social-icons color rounded margin-top-15">
						<li><a class="twitter" href="https://twitter.com/christianbarra"><i class="icon-twitter"></i></a></li>
						<li><a class="linkedin" href="https://www.linkedin.com/in/christianbarra"><i class="icon-linkedin"></i></a></li>
						<li><a class="github" href="https://github.com/barrachri"><i class="icon-github"></i></a></li>
						<li><a class="rss" href="/rss.xml"><i class="icon-rss"></i></a></li>
					</ul>
					<div class="clearfix"></div>
					<!-- Social Icons / End -->
				</div>

			</div>

		</div>

	</div>

	<div class="margin-top-60"></div>

	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>


	<!-- Scripts
================================================== -->
	<script type="text/javascript" src="/assets/scripts/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/assets/scripts/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/counterup.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/waypoints.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.sticky-kit.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.twentytwenty.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.event.move.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.photogrid.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.tooltips.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.pricefilter.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.stacktable.js"></script>
	<script type="text/javascript" src="/assets/scripts/jquery.jpanelmenu.js"></script>
	<script type="text/javascript" src="/assets/scripts/headroom.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/modernizr.custom.js"></script>
	<script type="text/javascript" src="/assets/scripts/puregrid.js"></script>
	<script type="text/javascript" src="/assets/scripts/flexibility.js"></script>
	<script type="text/javascript" src="/assets/scripts/custom.js"></script>
	<script type="text/javascript" src="/assets/scripts/quote.js"></script>
	<!-- disqus -->
	<script id="dsq-count-scr" src="//chrisbarra.disqus.com/count.js" async></script>

	</div>
	<!-- Wrapper / End -->

	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-41799543-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>