<div id="main-header" class="fullscreen-nav no-border">
    <div class="box">

        <div class="row">
            <div class="header">

                <div class="col-md-2 col-sm-12">

                    <div id="logo" class="margin-top-25">
                        <!--
                        <a href="/">chrisbarra.xyz</a>
                        -->
                    </div>

                </div>

                <div class="col-md-10 col-sm-8">

                    <!-- Trigger Navigation -->
                    <div class="fullscreen-nav-trigger">
                        <span class="fullscreen-nav-trigger-box">
                            <span class="fullscreen-nav-trigger-inner"></span>
                        </span>
                    </div>

                    <!-- Menu -->
                    <nav class="fullscreen-nav-container">
                        <ul>
                            <li><a href="{{ _link('root', None) }}">Blog</a></li>
                            <li><a href="{{ _link('slug', 'about-me') }}">About me</a></li>
                        </ul>
                    </nav>

                </div>
                <div class="clearfix"></div>

            </div>
        </div>

    </div>
</div>