{% extends 'base.tmpl' %} {% block extra_head %}
<meta property="og:url" content="https://www.chrisbarra.xyz{{ post.permalink() }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ post.title() }}" />
<meta property="og:description" content="{{ post.text()|striptags|escape|truncate(256, False, " ") }}" />
<meta property="og:image" content="{{ abs_link('/') }}images/{{ post.meta('img_name') }}" /> {% if post.meta('keywords') %}
<meta name="keywords" content="{{ post.meta('keywords')|e }}"> {% endif %} {% endblock %}

<!-- Header
================================================== -->
{% block headbar %}
<div id="header-container" data-background="/images/{{ post.meta('img_name') }}" data-color="#303133" data-color-opacity="0.6">
	{% endblock %}


	<!-- Titlebar
================================================== -->
	{% block titlebar %}
	<div id="titlebar" class="single-post-titlebar">
		<div class="box">
			<div class="row">
				<div class="col-md-12">

					<!-- Category -->
					<ul class="post-categories">
						{% for tag in post.tags %}
						<li><a href="{{_link("tag", tag)}}">#{{tag}}</a></li>
						{% endfor %}
					</ul>

					<!-- Title -->
					<h2>{{ post.title() }}</h2>
					<span>{{ post.meta('sub_title') }}</span>

					<!-- Meta Tags -->
					<div class="meta-tags">
						<span>{{ post.formatted_date(' %d %B %Y ') }}</span>
						<span>{{ post.text()|wordcount }} words</span>
						<span><a href="{{ post.permalink(absolute=True) }}#disqus_thread"></a></span>
					</div>

				</div>
			</div>
		</div>
	</div>
	{% endblock %}




	<!-- Content
================================================== -->
	{% block content %}
	<div class="box">
		<div class="row">

			<!-- Post Content -->
			<div class="single-post-content">


				<div class="col-md-10 col-md-offset-1">
					{{ post.text() }}
				</div>

			</div>

			<!-- Others -->
			<div class="col-md-10 col-md-offset-1">

				<!-- Share Buttons -->
				<div id="disqus_thread"></div>


				<div class="clearfix"></div>

				<div class="margin-top-50"></div>

			</div>

		</div>
	</div>
	<!-- Container / End -->

	<script>

		var disqus_config = function () {
		this.page.url = 'https://www.chrisbarra.xyz{{ post.permalink() }}';
		this.page.identifier = '{{ post.meta('slug') }}';
		};

		(function () { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://chrisbarra.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();

	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-586d9d64947c02cf"></script>
	{% endblock %}