{% extends 'base-story.tmpl' %} {% block content %}



<!-- Section -->
<div class="section">

	<!-- Parallax Full-Screen Background -->
	<div class="fullscreen background parallax" data-background="/images/about-me.jpg" data-img-width="1800" data-img-height="1202"
	 data-diff="300" data-color="#303133" data-color-opacity="0.6">
		<div class="parallax-content-container">
			<div class="parallax-content wide center">
				<h2>Hi, I'm Christian Barra</h2>
				<h3 class="margin-top-30"><span class="typed-text"></span></h3>
				<div class="scroll-to-section ln ln-icon-Down-3"></div>
			</div>
		</div>
	</div>

</div>
<!-- Section / End -->


<!-- Section -->
<div class="section" data-background-color="#fff">

	<!-- Inner Section-->
	<section class="section-background white-text margin-top-30">
		<div class="box">
			<div class="row margin-top-0">

				<!-- Skill bars -->
				<div class="col-md-8 col-md-offset-2">
					<div class="row margin-top-20">
						<div class="col-md-12">
							<p class="about-me-intro">
								Born in <a href="https://en.wikipedia.org/wiki/Arona,_Piedmont">Arona</a> (🇮🇹) but currently I live in <a href="https://en.wikipedia.org/wiki/Wroc%C5%82aw">Wrocław</a> (🇵🇱).<br/>
								<br/>
								I am a Freelance developer with a strong background in stats and passionate about DevOps (orchestrating stuff is a lot of fun).<br/>
								<br/>
								I really enjoy <a href="https://www.pybootcamp.com/">teaching</a> about software, data and I help companies to get the most out of technology (and Python). Regarding data science I like to work with imbalanced datasets, anomaly detection and ways to deal with out-of-memory datasets.
								On top of this I am also a Free Software lover and contributor.<br/>
								<br/>
								I am also a <a href="https://software-carpentry.org/">Software</a> and <a href="http://www.datacarpentry.org/">Data</a>
								Carpentry instructor, where I learnt about <a href="https://en.wikipedia.org/wiki/Lesson_study">jugyō kenkyū</a> and how to be a better instructor.
								<br/>
								<br/> Apart from this I love reading, playing with Haskell/Rust, drinking ☕+milk, bouldering, organising Python events and travelling (+30 countries 🌍 so far!).
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- Container / End -->
	</section>
</div>


<!-- Section -->
<div class="section" data-background-color="#495d7f">

	<!-- Inner Section-->
	<section class="section-background white-text margin-top-30">
		<div class="box">

			<div class="row margin-top-10">

				<!-- Text Block -->
				<div class="col-md-4">
					<h2 class="section-title margin-bottom-40"><strong>Python, Data and DevOps</strong></h2>
					<h4 class="section-title margin-bottom-40"><strong>Problems dealing with these technologies? Let me help :)</strong></h4>
				</div>

				<!-- Icons -->
				<div class="col-md-8">

					<div class="row">

						<div class="col-md-6 col-sm-6">
							<div class="icon-box-3">
								<i class="ln ln-icon-Code-Window"></i>
								<h4>Python</h4>
								<p>I have +5 years experience in writing idiomatic Python code and I am an avid user of the standard and asyncio libraries.</p>
							</div>
						</div>

						<div class="col-md-6 col-sm-6">
							<div class="icon-box-3">
								<i class="ln ln-icon-Venn-Diagram"></i>
								<h4>Soft skills</h4>
								<p>Years of making Python events have taught me well about the arts of communication and mediation with both technical
									and non technical people. And last but least in getting things done.</p>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="icon-box-3">
								<i class="ln ln-icon-Brain"></i>
								<h4>Data</h4>
								<p>Jupyter & Pandas user, in the last months I spent a big amount of time in learning the proper way to serve machine learning models in production.</p>
							</div>
						</div>

						<div class="col-md-6 col-sm-6">
							<div class="icon-box-3">
								<i class="ln ln-icon-Gears"></i>
								<h4>(Micro)services</h4>
								<p>Light infratructures with co-operative services, this is usually where async python applications meet containers.</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="icon-box-3">
								<i class="ln ln-icon-Robot"></i>
								<h4>IoT</h4>
								<p>Do you know you can use Python for IoT? I am a huge fun of MicroPython and platforms like micro:bit, PyCom, RaspberryPi and Onion.</p>
							</div>
						</div>

						<div class="col-md-6 col-sm-6">
								<div class="icon-box-3">
									<i class="ln ln-icon-Ship"></i>
									<h4>Docker</h4>
									<p>I am a Docker user from the first release (2013) and I use it on daily basis, currently I deal mostly with services
										(aka Docker for clusters).</p>
								</div>
							</div>

					</div>
				</div>
				<!-- Icons / End -->

			</div>

		</div>
	</section>
	<!-- Inner Section Section / End -->

</div>
<!-- Section / End -->


<!-- Section -->
<div class="section" data-background-color="#fff">

	<!-- Container -->
	<div class="box">
		<div class="row margin-top-30">

			<!-- Text Block -->
			<div class="col-md-4">
				<h2 class="section-title"><strong>What I am really proud of</strong></h2>
			</div>

			<!-- Table -->
			<div class="col-md-8">
				<div class="row margin-top-20">

					<!-- Education -->
					<dl class="resume-table">

						<dt>
							<small class="date">from 2016</small>
							<strong>EuroPython Society Board member</strong>
						</dt>
						<dd>
							<p>I have been elected as a Board member of the <a href="http://www.europython-society.org/">EuroPython Society</a> for the years 2016/2017 and 2017/2018.</p>
						</dd>

						<dt>
							<small class="date">from 2014</small>
							<strong>Python Events Organizer</strong>
						</dt>
						<dd>
							<p>
								I started being involved with organizing Python events from 2014, with <a href="https://www.pycon.it/en/">PyCon Italia</a>, the next year I joined the EuroPython Organizers and for <a href="https://ep2017.europython.eu/en/">EuroPython 2017</a> I was the Conference Chair.
								EuroPython is the biggest Python conference in Europe, with ~1100 attendees and a budget of ~500K EUR.
								In 2016 I also started <a href="https://www.meetup.com/PyData-Wroclaw/">PyData Wrocław</a> (🇵🇱), reaching 360 participants in less than 1 year and have regularly meetup once during the month with ~40-50 attendees.
							</p>
						</dd>

						<dt>
							<small class="date">2016 - 2017</small>
							<strong>Founder of the <a href="https://www.microbitpolska.org">Microbit:Polska</a> project</strong>
						</dt>
						<dd>
							I started the Microbit:Polska project during August 2016, after <a href="http://koed.org.pl/en/blog/2016/09/09/12918/">KOED</a>.
							I managed to get a grant from the <a href="#">PSF</a> and <a href="http://microbit.org/">Micro:bit Educational Foundation</a> to run workshops inside
							the Polish schools to teach Python. The project right now is run by <a href="http://pypolska.org/en/">PyPolska</a>, the Polish Python User Group.
						</dd>


					</dl>

				</div>
			</div>
			<!-- Table / End -->

		</div>
	</div>
	<!-- Container / End -->

</div>
<!-- Section / End -->



<!-- Section / End -->
<div class="section" data-background-color="#222">

	<!-- Wide Parallax Infobox -->
	<div class="fullscreen not-fullscreen background parallax margin-top-0">

		<!-- Infobox -->
		<div class="info-banner-fw margin-top-0 margin-bottom-0">
			<div class="box">
				<div class="row">
					<div class="col-md-12">Need help? Let's Talk!
						<a href="mailto:me@chrisbarra.xyz">Contact Me</a></div>
				</div>
			</div>
		</div>
		<!-- Infobox / End -->

	</div>
	<!-- Wide Parallax Infobox -/ End -->


</div>
<!-- Section / End -->


{% endblock %}