{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block header %}
<header>
<h1>Hi there, my name is Christian!<br /></h1>
<p>I'm a curious, adventurer, wanna be statistician@UniPD and organizer @europython.</p>
<p>You can use twitter or write at barrachri at gmail dot com if you want to get in touch with me.</p>
</header>
{% endblock %}



{% block content %}
<section class="tiles">

{% for post in posts %}

<article class="style1">
<span class="image">
<img src="/images/{{ post.meta('img_name') }}" alt="" />
</span>
<a href="{{ post.permalink() }}"> <h2>{{ post.title() }}</h2>
<div class="content"><p>{{ post.formatted_date(' %d %B %Y') }} - {{ post.meta('sub_title') }}</p></div>
</a>
</article>


{% endfor %}
</section>

    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
    {{ helper.mathjax_script(posts) }}
{% endblock %}
