{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block header %}
<header>
<h1>Hi there, my name is Christian!<br /></h1>
<p>I am board member of the <a href="http://www.europython-society.org">EuroPythonSociety</a> and organizer of <a href="https://www.europython.eu">EuroPython</a>, in my spare time I enjoy studying statistics at <a href="https://www.unipd.it">UniPD</a> and using <a href="https://www.python.org">Python</a>.</p>
<p>Currently I live in Wroclaw (Poland) where I run the <a href="https://www.meetup.com/PyData-Wroclaw/">PyData Wroclaw Meetup</a> and lead the <a href="https://www.microbitpolska.org">Microbit:Polska</a> project.
<p>You can use twitter or write at barrachri at gmail dot com if you want to get in touch with me.</p>
</header>
{% endblock %}

I’m a Chicago-based data scientist and developer at Sprout Social.

Previously, I was the first data science hire at GrubHub, where I led the team focused on data research, A/B testing, and product analytics.

I've also spent time at Datascope, where I helped an NBA team with draft preparation and scouting, and PwC, where I focused on analytics related to fraud, investigations, and litigation.


{% block content %}
<section class="tiles">

{% for post in posts %}

<article class="style1">
<span class="image">
<img src="/images/{{ post.meta('img_name') }}" alt="" />
</span>
<a href="{{ post.permalink() }}"> <h2>{{ post.title() }}</h2>
<div class="content"><p>{{ post.formatted_date(' %d %B %Y') }} - {{ post.meta('sub_title') }}</p></div>
</a>
</article>


{% endfor %}
</section>

    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
    {{ helper.mathjax_script(posts) }}
{% endblock %}
