{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% extends 'base.tmpl' %}

{% block header %}
<header>
<h1>Hello there, my name is Christian!</h1>
<h2>I am a freelance developer, consultant and I am happy to teach people about Python!<br/></h2>
<h2><a href="{{ _link('slug', 'about-me') }}">About me</a><br /></h2>
</header>
<br />
{% endblock %}



{% block content %}
<section class="tiles">

{% for post in posts %}



<article class="style1">
<span class="image">
<img src="/images/{{ post.meta('img_name') }}" alt="" />
</span>
<a href="{{ post.permalink() }}"> <h2>{{ post.title() }}</h2>
<div class="content"><p>{{ post.formatted_date(' %d %B %Y') }} - {{ post.meta('sub_title') }}</p></div>
</a>
</article>


{% endfor %}
</section>

    {{ helper.html_pager() }}
    {{ helper.mathjax_script(posts) }}
{% endblock %}
