<hr />

<div class="pagination">
  <h4>
    I maintain a weekly digest to share everything I learn, no spam promise!
  </h4>

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" class="form">
      <form
        action="https://softwareinpractice.us20.list-manage.com/subscribe/post?u=860653c89e9099a93a9fd055e&amp;id=0fb3a274eb"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank"
        novalidate>
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" placeholder="Drop your email" id="mce-EMAIL">
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_860653c89e9099a93a9fd055e_0fb3a274eb" tabindex="-1" value=""></div>

              <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>

      </form>
    </div>
    <div id="mc_embed_signup" class="form">
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
      </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script
      type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

</div>
<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}